<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jinjia-demo</title>
</head>
<body>
    <h1>{{ name }}</h1>

    <!--span对行内部分元素进行定义-->
    {% for n in numbers %}
        <span class="number">{{ n }}</span>
    {% endfor %}

    <div class="user-container">
        {% for u in users %}
            <div class="user-cell">
                <span>{{ u.id }}</span>
                <span>{{ u.name }}</span>
            </div>
        {% endfor %}
    </div>
</body>
</html>